@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Helvetica;
}
section,
.roundedCard {
  border-radius: 3em 3em 0 0;
}
.gallery {
  width: 100%;
}
.headline {
  font-size: 250px;
  padding: 0;
  display: flex;
  width: 100%;
  display: flex;
  width: 100%;
  line-height: 0.8em;
}
.menu {
  display: flex;
  width: fit-content;
  position: fixed;
  top: 5%;
  right: 2%;
  z-index: 10;
}
.menu .li span {
  padding: 1em;
  margin: 1em;
  background-color: #32323245;
  border-radius: 1em;
}
.frontEndDeveloperDiv {
  display: flex;
  width: 80%;
}
.frontEndDeveloper {
  font-size: 50px;
  width: 80%;
}

.aboutMeText {
  font-size: 4em;
}

.whatIDo {
  font-size: 7em;
}

.skillsDiv {
  display: flex;
  justify-content: flex-end;
}

.skills {
  display: flex;

  width: 50%;
}

.recentWork {
  font-size: 10em;
}

.projectImg {
  border-radius: 3em;
}

.project {
  font-size: 45px;
}
.footerTitle {
  font-size: 5em;
  width: 40%;
}

.card {
  width: 100%;
  min-height: 100vh;
  /* height: 100%; */
  position: relative;
  color: white;
  display: flex;
  /* background-color: bisque; */
}
.last-card {
  height: 200vh;
}

.spacer {
  width: 100%;
}

.latched {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 0;

  + .spacer {
    height: 100vh;
  }
}

.portrait {
  border-radius: 40%;
  max-width: 20%;
  height: auto;
}

.gsapText {
  padding: 30em;
}

.footerCard {
  display: flex;
  flex-direction: column;
}

.wrapper {
  /*   height: 20%; */
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.carousel {
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 0;
  padding: 0;
  position: relative;
  color: black;
  font-size: 121px;
  cursor: pointer;
}
.test {
  padding: 30px;
}
.test-2 {
  padding: 60px 10px;
}
#contactMe li {
  text-decoration: underline;
}
.mt70 {
  margin-top: 70%;
}

.e6eaee {
  background-color: #e6eaee;
}
span {
  font-size: 0.75em;
}

@media screen and (max-width: 720px) {
  span {
    font-size: 0.75em;
  }
  .aboutMeText {
    font-size: 2em;
  }
  .headlineDiv {
    padding-top: 3em;
    padding-left: 1em;
  }
}
@media screen and (max-width: 900px) {
  .skills {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 1460px) {
  #zoom-out {
    display: flex;
  }
  #noZoom {
    display: none;
  }
}
@media screen and (max-width: 1460px) {
  #zoom-out {
    display: none;
  }
  #noZoom {
    display: flex;
  }
  .headline {
    font-size: 60px;
    padding: 0;
    display: flex;
    width: 100%;
    display: flex;
    width: 100%;
    line-height: 0.8em;
  }
  .frontEndDeveloperDiv {
    display: flex;
    width: 100%;
    justify-items: center;
  }
  .frontEndDeveloper {
    font-size: 50px;
    width: 80%;
  }
  .whatIDo {
    font-size: 4em;
  }
  .gsapText {
    padding: 0;
    font-size: 3em;
  }
}
@media screen and (max-width: 768px) {
  #zoom-out h2 {
    font-size: 1em; /* Adjust the font size for smaller screens */
  }
}
